window {
    margin: 0px;
    border: 1px solid #aa0000;
    background-color: #120f19;
    border-radius: 6px;
}

#input {
    margin: 5px;
    border: 2px solid #aa0000;
    color: #f8f8f2;
    background-color: #282a36;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 500;
}

#inner-box,
#outer-box {
    margin: 5px;
    border: none;
    background-color: #120f19;
    border-radius: 4px;
}

#scroll {
    margin: 0px;
    border: none;
    background-color: #120f19;
    border-radius: 4px;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry.activatable #text {
    color: #282a36;
}

#entry > * {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #aa0000;
    border-radius: 4px;
}

#entry:selected #text {
    font-weight: bold;
    color: #000000;
}

#entry.urgent {
    background-color: #f0b2bc;
    border: 2px solid #f0b2bc;
}

#entry.urgent #text {
    color: #000000;
}

#entry:hover {
    background-color: #44475a;
}

#entry:hover #text {
    color: #f8f8f2;
}

